body{
    margin: 0;
    
}
.container{
    font-size: 20px;
    font-weight: bold;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 70px 1fr 1fr 90px;
    width: 100vw;
    height: 100vh;
    gap: 5px;
    background-color: violet;
    
}
div{
    border: 1px solid black;
}
.header{
    grid-column: 1 / 4;
    background-color: brown;
}
.header ul{
    display: flex;
    float: right;
}
.header ul li{
    margin: 0 100px;
}
.header ul li:hover{
    transform: scale(1.2);
}
.header ul li a{
    text-decoration: none;
    color: aliceblue;
    
}
.header ul li{
    list-style: none;
}
.content1{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 2 / 4;
    background-image: url(foto/4x6.jpg)
}
.footer{
    grid-column: 1 / 4;
}